* {
    /* Universal Selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    /*Class Selector */
    background-color: #cf9039;
    color: white;
    text-align: center;
    padding: 20px;
}


#main-content {
    /* ID Selector */
    padding: 20px;
    background-color: #f4f4f4;
    margin: 20px auto;
    max-width: 1200px;
}


.header+.sub-header {
    /* Adjacent Sibling Selector */
    background-color: #8a3f60;
    color: #a4bb3c;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}


ul li:nth-child(odd) {
    /* Nth-child Selector */
    background-color: #db3838;
}

ul li:nth-child(even) {
    background-color: #e1e741;
}


ul {
    list-style-type: none;
    color: #ea9516;
    padding: 0;
    margin: 20px 0;
}

ul li {
    padding: 10px;
    border: 1px solid #3e0e0e;
}

button {
    margin-left: 47%;
    color: #db3838;
}

button:hover {
    padding: auto;
    background-color: #43cbe9;
    color: rgb(105, 131, 68);
}